<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= curso.nome %></title>
</head>
<body>
    <h2>Detalhes do curso</h2>
    <dl>
        <dt><%= curso.nome %></dt>
        <dd>O curso <%= curso.nome %> tem <%= curso.semestres %> semestres de prazo regular, e é coordenado por <%= curso.coordenador %></dd>
    </dl>
</body>
</html>